<html>
      <title>MITE Fresher's Form</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
      <img src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/19275257_1385206538231305_3783760659877360344_n.jpg?_nc_cat=0&oh=cbf4efb9315eb6723adb63e83872b599&oe=5BC9D8C9" style="width: 100%;height: 100%">

            <body  style="background-color:#e6ffe6";>
                    <form method="POST" action="new">
                                     <div class="jumbotron" style="width:100%;     height:73px;padding:15 ; color:darkslateblue; background-color:ghostwhite; ">
                                    <h2 class="display-15">Personal Details</h2s >
                                    <hr class="my-1">
                                     </div>
                                     <form>
                                          <div class="form-row">
                                          <div class="form-group col-md-3" style="margin-left:20px">
                                                  <label for="text">Name</label>
                                                  <input type="text" class="form-control" name="student_name" placeholder="Name">
                                            </div>
                                            <div class="form-group col-md-5" style="margin-left: 100px">
                                                  <label for="text">Select Nationality</label>
                                                  <select class="form-control col-md-3" name="nationality">
                                                  <option>Indian</option>
                                                  <option>NRI</option>
                                                  </select>
                                            </div>
                                            </div>
                                    </form>
                              <div class="form-row">
                              <div class="form-group col-md-3" style="margin-left:20px">
                                    <label for="text">Parent's Name</label>
                                    <input type="text" class="form-control" name="parents_name" placeholder="Parent name">
                              </div>
                              <div class="form-group col-md-3 " style="margin-left: 100px">
                                    <label for="text">State</label>
                                    <input type="text" class="form-control" name="State" placeholder="State">
                              </div>
                              </div>
                              <div class="form-row">
                              <div class="form-group col-md-3" style="margin-left: 20px">
                                    <label for="text">Email</label>
                                    <input type="text" class="form-control" name="email" placeholder="Email">
                              </div>
                              <div class="form-group col-md-3" style="margin-left: 100px">
                                    <label for="text">Pincode</label>
                                    <input type="text" class="form-control" name="pincode" placeholder="Pincode">
                              </div>
                              </div>
                              <div class="form-row">
                              <div class="form-group col-md-3" style="margin-left: 20px">
                                    <label for="text">Mobile number</label>
                                    <input type="text" class="form-control" name="mobile" placeholder="Mobile number">
                              </div>
                              <div class="form-group col-md-3" style="margin-left: 100px">
                                    <label for="text"> Address </label>
                                    <textarea class="form-control" rows="3" name="address" ></textarea>
                              </div>
                              </div>
                              <div class="form-group col-md-5" style="margin-top: -50px;margin-left:5px">
                                    <label for="text">Select Gender</label>
                                    <select class="form-control col-md-3" name="gender">
                                    <option>MALE</option>
                                    <option>FEMALE</option>
                              </select>
                              </div>
                                 <div class="form-group col-md-5">
                                                <label for="text">Select State</label>
                                                <select class="form-control col-md-3" name="pu_college_state">
                                                <option>Andhra Pradesh</option>
                                                <option>Goa</option>
                                                <option>Gujarat</option>
                                                <option>Hariyana</option>
                                                <option>Karnataka</option>
                                                <option>Kerala</option>
                                                <option>Madhya Pradesh</option>
                                                <option>Maharashtra</option>
                                                <option>Rajasthan</option>
                                                <option>Tamil Nadu</option>
                                                <option>Telangana</option>
                                                <option>Others</option>
                                          </select>
                               </div>
                              <div class="jumbotron" style="width:100%;     height:73px;padding:15 ; color:darkslateblue; background-color:ghostwhite; ">
                                                <h2 class="display-15">Pre-University Details</h2s >
                                                <hr class="my-1">
                              </div>

                              </div>
                              <div class="form-group col-md-3">
                                          <label for="text">Marks</label>
                                          <input type="text" class="form-control" name="percentage" placeholder="Marks">
                              </div>

                              <div class="form-group col-md-8">
                                           <label for="text">District of Pre-University College</label>
                                                <select class="form-control col-md-3" name="pu_district" id="dist" onchange="collegeFilter(document.getElementById('dist'))">
                                                      <option></option>
                                                {{#each all_colleges}}
                                                      <option>{{this.district}}</option>
                                                {{/each}}
                                                      <option>Others</option>
                                                </select>
                              </div>
                                <div class="form-group col-md-8">
                                           <label for="text">Choose your PU College</label>
                                                <select class="form-control col-md-3" name="pu_college">
                                                      {{#each all_colleges}}
                                                      {{#if this.district ==  dist}}
                                                      {{#each all_colleges.college}}
                                                            <option>{{this.colleges}}</option>
                                                      {{/each}}
                                                      {{/if}}
                                                      {{/each}}
                                                      <option>Others</option>
                                                </select>
                              </div>
                              {{!-- <div class="form-group col-md-6">
                                    <label for="text">Are you aware about the following programs by MITE?</label>
                                     <div class="checkbox">
                                          <label><input type="checkbox" value="">SENTIA</label>
                                    </div>
                                    <div class="checkbox">
                                          <label><input type="checkbox" value=""></label>
                                    </div>
                              </div> --}}
                              <div class="form-group col-md-6">
                                                <label for="text">Where did you hear about MITE?</label>
                                                {{!-- <select class="form-control col-md-3" name="ans1">
                                                      <option>Friends/Family</option>
                                                      <option>Alumnis</option>
                                                      <option>Advertisement</option>
                                                      <option>Social Media/Web</option>
                                                      <option>Through SENTIA</option>
                                                      <option>ASPIRE (Career guidance for PU students by MITE)</option>
                                                </select> --}}
                                                <div class="radio">
                                                      <label><input type="radio" name="mite_hear">Friends/Family</label>
                                                      <label><input type="radio" name="mite_hear">Alumnis</label>
                                                      <label><input type="radio" name="mite_hear">Advertisement</label>
                                                      <label><input type="radio" name="mite_hear">Social Media/Web</label>
                                                      <label><input type="radio" name="mite_hear">Through SENTIA</label>
                                                      <label><input type="radio" name="mite_hear">ASPIRE (Career guidance for PU students by MITE)</label>
                                                </div>
                              </div>

                                         <hr class="my-10" style="width:100%;height: 2%;">


                                          <button type="submit" class="btn btn-primary" style="margin-left: 50%;margin-top: 30px;width:10%; "> Submit</button>
                    </form>
            </body>

</html>
