<div id="content">
<table class="table table-striped">
    <tr>
        <th scope="col">Roll Number</th>
    </tr>

    {{#each fresher}}
    <tr scope="row">
        <td>
            {{this.roll_no}}
        </td>
    </tr>
    {{/each}}

    </tr>