<div id="content">
<table class="table table-striped">
    <tr>
        <th scope="col">district</th>
        <th scope="col">Number Of Students</th>

    </tr>

    {{#each dist}}
    <tr scope="row">
        <td>
            {{this.pu_district}}
        </td>
        <td>
            {{this.count}}
        </td>

    </tr>
    {{/each}}

    </tr>

</table>
</br>
</br>
</br>
<div id="content">
<table class="table table-striped">
    <tr>
        <th scope="col">college</th>
        <th scope="col">Number Of Students</th>

    </tr>

    {{#each college}}
    <tr scope="row">
        <td>
            {{this.pu_college}}
        </td>
        <td>
            {{this.count}}
        </td>

    </tr>
    {{/each}}

    </tr>

</table>

<a titlt="print screen" alt="print screen" onclick="window.print();"><button class="btn btn-primary">save</button></a>
